
@{
    ViewBag.Title = "هذه الصفحة غير موجوده";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}





<div class="container">
    <div class="jumbotron">
        <h1>صفحة غير موجودة</h1>
        <p>
            عفواً. هذه الصفحة غير موجودة...
        </p>
    </div>
    <p></p>
    <a href="~/login/home" class="btn btn-info" role="button">الرجوع الي القائمة الرئيسية <i class="fa fa-home"></i></a>

</div>