@model heshamhrms.Models.Genders

@{
    ViewBag.Title = "حذف جنس";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>حذف جنس</h2>

<h3>هل تريد الحذف ؟</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gender_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف جنس" class="btn btn-danger" /> |
            @Html.ActionLink("الرجوع للقائمة", "Index")
        </div>
    }
</div>
