@model heshamhrms.Models.Marital_Status

@{
    ViewBag.Title = "حذف الحالة الاجتماعية";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>حذف الحالة الاجتماعية</h2>

<h3>هل تريد الحذف؟</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marital_Status_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marital_Status_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف الحالة الاجتماعية" class="btn btn-danger" /> |
            @Html.ActionLink("الرجوع للقائمة", "Index")
        </div>
    }
</div>
